<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Cache-Control" value="no-cache, no-store, must-revalidate, max-age=0" />
				<add name="Pragma" value="no-cache" />
				<add name="Expires" value="-1" />
				<add name="Surrogate-Control" value="no-store" />
			</customHeaders>
		</httpProtocol>

		<staticContent>
			<clientCache cacheControlMode="DisableCache" />
		</staticContent>

		<rewrite>
			<outboundRules>
				<rule name="NoCacheDynamic" preCondition="NoCachePages">
					<match serverVariable="RESPONSE_Cache_Control" pattern=".*" />
					<action type="Rewrite" value="no-cache, no-store, must-revalidate, max-age=0" />
				</rule>
				<preConditions>
					<preCondition name="NoCachePages">
						<add input="{RESPONSE_CONTENT_TYPE}" pattern="text/html" />
					</preCondition>
				</preConditions>
			</outboundRules>
		</rewrite>

		<aspNetCore processPath="dotnet" stdoutLogEnabled="false">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
			</environmentVariables>
		</aspNetCore>
	</system.webServer>
</configuration>